.required {
    color: red;
}
.my-checkbox {
    font-weight: 400 !important;
}
.bootstrap-switch {
    line-height: 0.8rem !important;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
.bootstrap-switch-label {
    line-height: normal;
}
.preview-image-wrapper {
    background: #fafbfc;
    /* border: 1px solid rgba(195,207,216,.3); */
}
.preview-image-wrapper img {
    height: 150px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
